{% extends 'base.html.twig' %}

{% block title %}New Cours{% endblock %}

{% block body %}
    <h1 style="color: darkred;text-align: center">Ajouter Un Nouveau Cours</h1>

    {{ include('cours/_form.html.twig') }}

    <a href="{{ path('cours_index') }}">back to list</a>
{% endblock %}
